.contador{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #e0fbfc;
    width: 80% ;
    height: 30%  ;
    border:none;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    border: blueviolet solid 1px;
}


.titulo_countdown1{
    color: black;
    margin: 2%; 
    display: flex;
    font-size: 2rem;
    align-items: center;
    
    
}

.titulo_countdown1 img{
 width: 2rem;
 height: 4rem;

}


.countdown_1{
    display: flex;
     justify-content: center;
      

}

.time_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%; 
    width: 100%;
    height: 40%;
   

}



.time_1 h2{
     
     font-size: 4rem; 
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0.3rem 0; 
}


.time_1 small{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0.3rem 0; 
}


#contador{
    margin-bottom: 10%;
}